In [1]:
import ccxt
import pandas as pd
import time
from datetime import datetime

In [32]:
# 사용할 거래소 인스턴스 생성 (여기서는 업비트를 사용)
symbol = 'BTC/KRW'    # 가져올 코인 쌍 (비트코인/원화)
timeframe = '1d'      # 데이터 간격 (1d: 일봉, 1h: 1시간봉, 1m: 1분봉)
limit = 0       # 가져올 데이터 개수 (최근 30개)

In [38]:
def get_coin(coin,time,limit=10,exc=ccxt.upbit()):
    print(f"[{exc.id}] 거래소에서 [{coin}]의 [{time}] 데이터 {limit}개를 가져옵니다.")
    try:
        ohlcv = exc.fetch_ohlcv(coin, timeframe=time,limit=10000)
        
    except Exception as e:
        print(f"데이터를 가져오는 중 오류 발생: {e}")
        ohlcv = []
    if ohlcv:
        # DataFrame 생성 (컬럼명: 타임스탬프, 시가, 고가, 저가, 종가, 거래량)
        df = pd.DataFrame(ohlcv, columns=['timestamp', 'open', 'high', 'low', 'close', 'volume'])
        df['date'] = pd.to_datetime(df['timestamp'], unit='ms')
        df = df.drop('timestamp', axis=1)

        df = df[['date', 'open', 'high', 'low', 'close', 'volume']]
        df.set_index('date',inplace=True)
        df.set_flags=coin
        print(df)
        
    else:
        print("\n데이터를 가져오지 못했습니다.")
    return df

In [39]:
# --- 2. OHLCV 데이터 가져오기 ---
df1=get_coin(symbol,timeframe,limit)
df2=get_coin('ETH/KRW',timeframe,limit)
# df3=get_coin(symbol,timeframe,limit)

[upbit] 거래소에서 [BTC/KRW]의 [1d] 데이터 0개를 가져옵니다.
                   open         high          low        close       volume
date
2025-05-20  148700000.0  150990000.0  147743000.0  150424000.0  1919.887630
2025-05-21  150424000.0  153301000.0  148810000.0  152356000.0  3078.693150
2025-05-22  152356000.0  155323000.0  152070000.0  154861000.0  2781.675942
2025-05-23  154861000.0  155169000.0  149258000.0  149878000.0  3245.409407
2025-05-24  149962000.0  152700000.0  149422000.0  150660000.0  1063.006882
...                 ...          ...          ...          ...          ...
2025-12-01  135752000.0  135839000.0  125809000.0  129172000.0  5383.622408
2025-12-02  129169000.0  137330000.0  128650000.0  135626000.0  2981.093620
2025-12-03  135683000.0  140212000.0  135200000.0  138881000.0  2892.416537
2025-12-04  138998000.0  139769000.0  135909000.0  137390000.0  1624.692971
2025-12-05  137447000.0  138275000.0  137390000.0  138273000.0   132.037429

[200 rows x 5 columns]
[upbit] 거래소에서 [ETH/KRW]의 [1d] 데이터 0개를 가져옵니다.
                 open       high        low      close         volume
date
2025-05-20  3558000.0  3642000.0  3463000.0  3558000.0   53754.637212
2025-05-21  3558000.0  3660000.0  3440000.0  3549000.0   80269.261152
2025-05-22  3550000.0  3738000.0  3541000.0  3693000.0   83489.641281
2025-05-23  3695000.0  3776000.0  3500000.0  3536000.0  105682.447423
2025-05-24  3536000.0  3589000.0  3518000.0  3540000.0   26620.684930
...               ...        ...        ...        ...            ...
2025-12-01  4487000.0  4500000.0  4079000.0  4193000.0   88080.845400
2025-12-02  4192000.0  4518000.0  4156000.0  4452000.0   53907.981616
2025-12-03  4453000.0  4770000.0  4436000.0  4737000.0   64214.479985
2025-12-04  4736000.0  4813000.0  4583000.0  4676000.0   55285.807889
2025-12-05  4672000.0  4756000.0  4672000.0  4755000.0    5375.136938

[200 rows x 5 columns]

In [40]:
df1

                   open         high          low        close       volume
date
2025-05-20  148700000.0  150990000.0  147743000.0  150424000.0  1919.887630
2025-05-21  150424000.0  153301000.0  148810000.0  152356000.0  3078.693150
2025-05-22  152356000.0  155323000.0  152070000.0  154861000.0  2781.675942
2025-05-23  154861000.0  155169000.0  149258000.0  149878000.0  3245.409407
2025-05-24  149962000.0  152700000.0  149422000.0  150660000.0  1063.006882
...                 ...          ...          ...          ...          ...
2025-12-01  135752000.0  135839000.0  125809000.0  129172000.0  5383.622408
2025-12-02  129169000.0  137330000.0  128650000.0  135626000.0  2981.093620
2025-12-03  135683000.0  140212000.0  135200000.0  138881000.0  2892.416537
2025-12-04  138998000.0  139769000.0  135909000.0  137390000.0  1624.692971
2025-12-05  137447000.0  138275000.0  137390000.0  138273000.0   132.037429

[200 rows x 5 columns]