#  SQL 개념 및 명령어 분류 정리

##  SQL이란?
**SQL (Structured Query Language)** 은 관계형 데이터베이스(RDBMS)에서  
데이터를 **정의(Definition)**, **조작(Manipulation)**, **제어(Control)** 하기 위한 표준 언어이다.

---

## 📚 SQL 명령어 분류표

| 분류 | 영어 풀네임 | 주요 명령어 | 설명 |
|------|---------------|--------------|------|
| **DDL** | Data Definition Language | `CREATE`, `ALTER`, `DROP`, `TRUNCATE`, `RENAME` | 데이터베이스나 테이블의 **구조(스키마)** 를 정의하거나 변경할 때 사용 |
| **DML** | Data Manipulation Language | `SELECT`, `INSERT`, `UPDATE`, `DELETE` | 테이블 내의 **데이터를 조작(조회/추가/수정/삭제)** 할 때 사용 |
| **DCL** | Data Control Language | `GRANT`, `REVOKE` | 데이터베이스의 **접근 권한을 제어**할 때 사용 |
| **TCL** | Transaction Control Language | `COMMIT`, `ROLLBACK`, `SAVEPOINT`, `SET TRANSACTION` | **트랜잭션(작업 단위)** 을 제어하여 데이터의 일관성과 무결성을 유지 |

---

##  각 분류별 예시

###  DDL 예시
```sql
CREATE TABLE EMP (
    EMPNO INT PRIMARY KEY,
    ENAME VARCHAR(50),
    SALARY DECIMAL(10,2)
);

###  DML 예시
```sql

INSERT INTO EMP VALUES (1001, 'SCOTT', 3000);
UPDATE EMP SET SALARY = SALARY * 1.1 WHERE EMPNO = 1001;
SELECT * FROM EMP;
DELETE FROM EMP WHERE EMPNO = 1001;

###  DCL 예시
```sql
GRANT SELECT, INSERT ON EMP TO user1;
REVOKE INSERT ON EMP FROM user1;

###  TCL 예시

```sql

START TRANSACTION;
UPDATE EMP SET SALARY = SALARY + 500 WHERE EMPNO = 1001;
COMMIT; -- 또는 ROLLBACK;

| 분류  | 역할        | 주로 사용하는 명령어                    | 트랜잭션 적용 여부             |
| --- | --------- | ------------------------------ | ---------------------- |
| DDL | 데이터 구조 정의 | CREATE, ALTER, DROP            | ❌ 자동 COMMIT            |
| DML | 데이터 조작    | SELECT                     |  COMMIT / ROLLBACK 필요없음 |
| DML | 데이터 조작    |  INSERT, UPDATE, DELETE | ✅ COMMIT / ROLLBACK 가능 |
| DCL | 권한 제어     | GRANT, REVOKE                  | ❌ 자동 COMMIT            |
| TCL | 트랜잭션 제어   | COMMIT, ROLLBACK, SAVEPOINT    | ✅ 트랜잭션 관리용             |