#  MySQL ì €ìž¥ í”„ë¡œì‹œì €(Stored Procedure) ê¸°ì´ˆ ë¬¸ë²• ì •ë¦¬

---

## ðŸ“˜ 1. ì €ìž¥ í”„ë¡œì‹œì €(Stored Procedure)ëž€?

> **ì €ìž¥ í”„ë¡œì‹œì €(Stored Procedure)** ëŠ” ìžì£¼ ì‚¬ìš©í•˜ëŠ” SQL êµ¬ë¬¸ë“¤ì„ ë¯¸ë¦¬ ì €ìž¥í•´ë‘ê³ ,  
> í•„ìš”í•  ë•Œë§ˆë‹¤ í˜¸ì¶œí•´ì„œ ì‹¤í–‰í•  ìˆ˜ ìžˆëŠ” **ë°ì´í„°ë² ì´ìŠ¤ ë‚´ì˜ í•¨ìˆ˜(í”„ë¡œê·¸ëž¨)** ìž…ë‹ˆë‹¤.

âœ… **ìž¥ì **
- SQL ì½”ë“œ ìž¬ì‚¬ìš© ê°€ëŠ¥
- ë³´ì•ˆì„± í–¥ìƒ (ì§ì ‘ ì¿¼ë¦¬ ë…¸ì¶œ ë°©ì§€)
- íŠ¸ëžœìž­ì…˜ ê´€ë¦¬ ìš©ì´
- ë³µìž¡í•œ ë¡œì§ì„ ì„œë²„ ì¸¡ì—ì„œ ì²˜ë¦¬ â†’ í´ë¼ì´ì–¸íŠ¸ ë¶€í•˜ ê°ì†Œ

---

##  2. ê¸°ë³¸ ë¬¸ë²• êµ¬ì¡°

```sql
DELIMITER $$

CREATE PROCEDURE í”„ë¡œì‹œì €ì´ë¦„ ( [IN|OUT|INOUT] ë§¤ê°œë³€ìˆ˜ëª… ë°ì´í„°í˜•, ... )
BEGIN
    -- SQL ë¬¸ìž¥ë“¤
END $$

DELIMITER ;

| êµ¬ë¶„        | ì„¤ëª…                         |
| --------- | -------------------------- |
| **IN**    | ìž…ë ¥ìš© ë§¤ê°œë³€ìˆ˜ (í˜¸ì¶œ ì‹œ ê°’ ì „ë‹¬ë§Œ ê°€ëŠ¥)   |
| **OUT**   | ì¶œë ¥ìš© ë§¤ê°œë³€ìˆ˜ (í”„ë¡œì‹œì € ë‚´ì—ì„œ ê²°ê³¼ë¥¼ ë°˜í™˜) |
| **INOUT** | ìž…ë ¥ ë° ì¶œë ¥ ëª¨ë‘ ê°€ëŠ¥              |

```sql

CREATE PROCEDURE show_all_users()
BEGIN
    SELECT * FROM users;
END

```sql
í˜¸ì¶œ
CALL show_all_users();

```sql

CREATE PROCEDURE get_user_by_id(IN user_id INT)
BEGIN
    SELECT * FROM users WHERE id = user_id;
END



CALL get_user_by_id(3);

```sql


CREATE PROCEDURE get_user_name(IN user_id INT, OUT user_name VARCHAR(50))
BEGIN
    SELECT name INTO user_name FROM users WHERE id = user_id;
END

CALL get_user_name(3, @name);
SELECT @name;

``` sql
-- ì—´ëŸ¬ê°œ ê²°ê³¼ë¥¼ ë‹´ìœ¼ë ¤ë©´
CREATE PROCEDURE get_user_name(IN user_id INT, OUT user_name VARCHAR(200))
BEGIN
    SELECT GROUP_CONCAT(name)
    INTO user_name
    FROM users
    WHERE id = user_id;
END;

### ì œì–´ë¬¸

```sql
IF ì¡°ê±´ì‹ THEN
    SQLë¬¸;
ELSEIF ì¡°ê±´ì‹ THEN
    SQLë¬¸;
ELSE
    SQLë¬¸;
END IF;

```sql
CASE ë³€ìˆ˜
    WHEN ê°’1 THEN SQLë¬¸;
    WHEN ê°’2 THEN SQLë¬¸;
    ELSE SQLë¬¸;
END CASE;

### ë°˜ë³µë¬¸

```sql
WHILE ì¡°ê±´ì‹ DO
    SQLë¬¸;
END WHILE;


```sql

CREATE PROCEDURE test_if(IN n INT, OUT msg VARCHAR(50))
BEGIN
    IF n > 0 THEN
        SET msg = 'ì–‘ìˆ˜ìž…ë‹ˆë‹¤';
    ELSEIF n < 0 THEN
        SET msg = 'ìŒìˆ˜ìž…ë‹ˆë‹¤';
    ELSE
        SET msg = '0ìž…ë‹ˆë‹¤';
    END IF;
END 


CALL test_if(5, @result);
SELECT @result;

```sql

CREATE PROCEDURE test_if1(IN n INT)
BEGIN
    DECLARE msg VARCHAR(50);  -- ë³€ìˆ˜ ì„ ì–¸

    IF n > 0 THEN
        SET msg = 'ì–‘ìˆ˜ìž…ë‹ˆë‹¤';
    ELSEIF n < 0 THEN
        SET msg = 'ìŒìˆ˜ìž…ë‹ˆë‹¤';
    ELSE
        SET msg = '0ìž…ë‹ˆë‹¤';
    END IF;

    SELECT msg AS ê²°ê³¼;   -- ê²°ê³¼ ì¶œë ¥
END


CALL test_if1(20);

```sql

CREATE PROCEDURE get_table_data(IN p_table VARCHAR(20))
BEGIN
    -- ì¡°ê±´ì— ë”°ë¼ SQL ìƒì„±
    IF p_table = 'emp' THEN
        SELECT * FROM emp;
    ELSEIF p_table = 'student' THEN
        SELECT * FROM student;
    END IF;

END

```sql

CREATE PROCEDURE get_dept_name_by_ename(IN p_ename VARCHAR(50))
BEGIN
    DECLARE v_deptno INT;

    -- 1) ì‚¬ì› ì´ë¦„ìœ¼ë¡œ deptno ì¡°íšŒ
    SELECT deptno INTO v_deptno
    FROM emp
    WHERE ename = p_ename;

    -- 2) deptno ë¡œ ë¶€ì„œëª… ì¡°íšŒ
    SELECT *
    FROM dept
    WHERE deptno = v_deptno;

END


call get_dept_name_by_ename( 'JAMES');

```sql

CREATE FUNCTION add_two_numbers(a INT, b INT)
RETURNS INT

BEGIN
    RETURN a + b;
END 


SELECT add_two_numbers(5, 7);
select add_two_numbers(sal, 1) from emp;

```sql

CREATE FUNCTION get_half(p_date DATE)
RETURNS INT
BEGIN
    DECLARE h INT;

    -- MONTH() í•¨ìˆ˜ë¡œ ì›” êµ¬í•œ ë’¤ 6ì›” ì´í•˜ë©´ 1, ì•„ë‹ˆë©´ 2
    IF MONTH(p_date) <= 6 THEN
        SET h = 1;
    ELSE
        SET h = 2;
    END IF;

    RETURN h;
END 


select get_half(now());
select get_half( hiredate ) from emp;

```sql

-- í”„ë¡œì‹œì € ëª©ë¡ì¡°íšŒ
SHOW PROCEDURE STATUS;
-- í”„ë¡œì‹œì € ë‚´ìš© í™•ì¸
SHOW CREATE PROCEDURE í”„ë¡œì‹œì €ì´ë¦„;
-- í”„ë¡œì‹œì € ì‚­ì œ
DROP PROCEDURE í”„ë¡œì‹œì €ì´ë¦„;

call insertproc('í…ŒìŠ¤íŠ¸',20,'2015-10-11');

select * from student;

call select_example( 20);


call get_user_name(20, @name);
select @name;

CALL test_if(-5, @result);
SELECT @result;

CALL test_if1(20);

call get_dept_name_by_ename( 'JAMES');


call get_table_data('student');

SELECT add_two_numbers(5, 7);

select add_two_numbers(sal, 1) from emp;

select get_half(now());
select get_half( hiredate ) from emp;