In [ ]:
import pymysql

# 1. 데이터베이스 연결 설정
connection = pymysql.connect(
    host='database-1.cjh1vqjhlwr8.ap-northeast-2.rds.amazonaws.com',
    user='admin',      # 본인의 DB 계정
    password='pass',  # 본인의 DB 비밀번호
    database='test',            # 데이터베이스 이름
)

try:
    with connection.cursor() as cursor:
        # 2. SQL 쿼리 작성
        sql = "INSERT INTO student (name, age, birth) VALUES (%s, %s, %s)"
        
        # 3. 추가할 데이터 (튜플 형태)
        new_student = ('홍길동', 20, '2004-05-15')
        
        # 4. 쿼리 실행
        cursor.execute(sql, new_student)
        
    # 5. 데이터 변경사항 저장 (Commit)
    connection.commit()
    print("데이터가 성공적으로 추가되었습니다.")

except Exception as e:
    # 에러 발생 시 롤백
    connection.rollback()
    print(f"에러 발생: {e}")

finally:
    # 6. 연결 종료
    connection.close()

데이터가 성공적으로 추가되었습니다.