In [4]:
from water import water
import pandas as pd

In [5]:
waterDF=water.total_water()

In [6]:
waterDF.select_dtypes(include='number').describe()

,수온(℃),수소이온농도(ph),전기전도도(μS/㎝),용존산소(㎎/L),BOD(㎎/L),COD(㎎/L),부유물질(㎎/L),총질소(T-N)(㎎/L),총인(T-P)(㎎/L),총유기탄소(TOC)(㎎/L),유량(㎥/s)
count,553.000000,553.000000,553.000000,553.000000,553.000000,553.000000,553.000000,553.00000,553.000000,553.000000,553.000000
mean,17.873779,7.955154,519.846293,10.260579,2.347920,6.816275,9.903978,2.51045,0.050678,4.533092,209.826839
std,7.991181,0.516832,356.326171,2.249187,1.241507,1.918500,6.455414,0.69266,0.025995,1.327103,439.611497
min,1.500000,6.500000,118.000000,6.000000,0.400000,3.900000,0.300000,0.84800,0.016000,2.100000,0.000000
25%,11.100000,7.600000,277.000000,8.500000,1.500000,5.600000,5.200000,2.03600,0.031000,3.600000,7.766000
50%,18.800000,7.900000,417.000000,9.700000,2.000000,6.400000,8.400000,2.48700,0.044000,4.300000,89.020000
75%,25.100000,8.400000,674.000000,11.700000,2.900000,7.400000,13.200000,2.98700,0.065000,5.000000,217.617000
max,32.000000,9.200000,3458.000000,16.000000,8.500000,18.900000,43.200000,5.41400,0.194000,12.900000,4962.290000